<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    
   
<app-noticias [noticias]="noticias"></app-noticias> <!-- "noticias": es el de ngionit y las [noticias] : es la que recibo del input -->

<ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="crescent"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
